.cropper_wrapper {
    position: fixed;
    top: 1rem;
    right: 0;
    left: 0;

    padding: 2rem 1rem;
    /* Display is dynamic */
    display: none; /* None or Flex */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
	max-width: 30rem;
    background-color: #e9e6e6;
    box-shadow: 0 0 1rem #978f8f;
    border-radius: 1rem;
}

.cropper_wrapper,
.cropper_wrapper * {
	user-select: none;
}

.cropper_container {
	position: relative;
	max-width: 100%;
	overflow: hidden;
}

.cropper_img {
	--size: 100%;
	width: var(--size);
	object-fit: contain;
}

.cropper_btns {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cropper_btn {
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;   
    color: white;
    background-color: rgb(59, 163, 233);
    text-transform: uppercase;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 0.1s ease;
}

.cropper_btn:hover {
    background-color: rgb(52, 144, 206);
}

.cropper_btn_cancel {
    background-color: rgb(235, 46, 46);
}

.cropper_btn_cancel:hover {
    background-color: rgb(190, 39, 39);
}